body {
    margin: 0%;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("https://lh3.googleusercontent.com/-i5xF4jaM_oY/YZS1guppeFI/AAAAAAAAC_U/S5Wd4EURftMGMmuNnfUqG4Z8sgfRWsq6ACLcBGAsYHQ/w1684-h1069-p-k-no-nu/wallpaperflare.com_wallpaper.jpg");
}

.main-container {
    justify-content: center;
    align-items: center;
    min-height: 85vh;
    margin: 0%;
    padding: 0%;
    display: flex;
}


h2 {
    margin: 0%;
    padding: 0%;
    margin-top: 2%;
    margin-left: 2%;
    color: white;
    font-size: 24px;
    text-shadow: 3px 3px black;
}

input {

    width: 200px;
    height: 40px;
    border: none;
    border-radius: 10px;
    padding-right: 15px;
    box-shadow: 0px 0px 20px red,
    inset 5px 5px 10px #888888;
    

    
}

::placeholder{
    font-size: 16px;
    padding-left: 10px;
}

button {
    
    width: 200px;
    height: 40px;
    border: none;
    border-radius: 10px;
    margin-left: 20px;
    font-size: 16px;
    background-color: green;
    color: white;
}

button:hover{
    background-color:  #FFA500;
    color: white;
}

footer {
    margin-bottom: 0px;
    color: white;
    text-align: center;
    font-weight: bold;
}
